<h1>Create a new bookmark</h1>
<%= link_to "Back to List", list_path(@list), class: "btn btn-secondary"%>

<%= simple_form_for [@list,@bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :priority, collection: Bookmark::PRIORITY_OPTIONS %>
  <%= f.input :comment %>
  <%= f.submit %>
<% end %>
